.parent-div {
    width: 1280px;
    height: 832px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .FRAME-40-11 {
    transform: rotate(0deg);
    position: relative;
    width: 1280px;
    height: 832px;
    left: 0px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
  }
  .FRAME-40-11:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0px;
    opacity: 0.20000000298023224;
    background: rgba(255, 255, 255, 1);
    background-image: linear-gradient(
      165.95deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.25) 57%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .FRAME-40-13 {
    transform: rotate(0deg);
    position: absolute;
    width: 182px;
    height: 55px;
    left: 49px;
    top: 508px;
    opacity: 1;
    backdrop-filter: blur(2.5px);
    mix-blend-mode: normal;
  }
  .FRAME-40-13:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    backdrop-filter: blur(2.5px);
  }
  .FRAME-40-14 {
    transform: rotate(0deg);
    position: absolute;
    width: 163px;
    height: 35px;
    left: 10px;
    top: 10px;
    opacity: 0.5;
    backdrop-filter: blur(20px);
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(20px);
    border-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
  .FRAME-40-16 {
    transform: rotate(0deg);
    position: absolute;
    width: 175px;
    height: 62px;
    left: 56px;
    top: 451px;
    opacity: 1;
  }
  .RECTANGLE-40-20 {
    position: absolute;
    left: 309px;
    top: 82px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(0, 0, 0, 1);
  
    width: 970.9999389648438px;
    height: 4px;
    opacity: 1;
  }
  .FRAME-40-21 {
    transform: rotate(0deg);
    position: absolute;
    width: 365px;
    height: 210px;
    left: 8px;
    top: 586px;
    opacity: 1;
    overflow: hidden;
  }
  .RECTANGLE-40-33 {
    position: absolute;
    left: 556px;
    top: 457px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(0, 0, 0, 1);
  
    width: 3px;
    height: 87px;
    opacity: 1;
  }
  .RECTANGLE-40-34 {
    position: absolute;
    left: 554px;
    top: 589px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(0, 0, 0, 1);
  
    width: 3px;
    height: 87px;
    opacity: 1;
  }
  .RECTANGLE-40-38 {
    position: absolute;
    left: 836.5px;
    top: 285.5px;
    transform: rotate(-90.00000000000003deg);
    transform-origin: center !important;
    background: rgba(0, 0, 0, 1);
  
    width: 3px;
    height: 210px;
    opacity: 1;
  }
  .FRAME-40-55 {
    transform: rotate(0deg);
    position: absolute;
    width: 373px;
    height: 190px;
    left: 21px;
    top: 567px;
    opacity: 1;
    overflow: hidden;
  }
  
  